/*

Add styles or override variables from the theme here.

*/

/* Colors */

/* Primary Colors */
$green: #00883A;
$primary: $green;
$lightgreen: #92D056;
$black: #232323;
$white: #fff;

/* Secondary Colors */
$lightgray: #F5F5F5;
$brightgray: #E6E6E7;
$midgray: #C0C1C3;
$darkgray: #626468;

/* Accent Colors */
$red: #D71919;
$orange: #F18700;
$violet: #8C4091;
$cyan: #009FE3;
$blue: #0F1987;

/* Fonts */
$google_font_name: "Inter";
$google_font_family: "Inter:300,300i,400,400i,500,500i";