/*

Add styles or override variables from the theme here.

*/

/* Colors */

/* Primary Colors */
$green: #00883A;
$black: #232323;
$white: #fff;

/* Secondary Colors */
$lightGray: #F5F5F5;
$brightGray: #E6E6E7;
$midGray: #C0C1C3;
$darkGray: #626468;

/* Accent Colors */
$red: #D71919;
$orange: #F18700;
$violet: #8C4091;
$cyan: #009FE3;
$blue: #0F1987;

/* Fonts */
$google_font_name: "Roboto Flex";
$google_font_family: "Roboto+Flex:opsz,wght@8..144,100..1000";